## 10.3.3 Scrape Mars Data: The News

In [31]:
#Import splints and beautifulsoup
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [25]:
#set executable path for splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 98.0.4758
Get LATEST chromedriver version for 98.0.4758 google-chrome
Trying to download new driver from https://chromedriver.storage.googleapis.com/98.0.4758.102/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\auror\.wdm\drivers\chromedriver\win32\98.0.4758.102]

In [26]:
# Visit the mars nasa news site
url = 'https://redplanetscience.com'
browser.visit(url)

# Optional delay for loading the page in case page is slow to load
#search tag 'div' and attribute 'list_text'
browser.is_element_present_by_css('div.list_text', wait_time=1)

True

In [27]:
#Set up HTML Parser
html = browser.html
news_soup = soup(html, 'html.parser')

#variable to set 'parent element' within which we look for first <div/> tag with class .list_text
slide_elem = news_soup.select_one('div.list_text')

In [28]:
#begin scraping for article title to .find() data in the slide variable set earlier
#.find() returns FIRST instance vs .findall(_)
slide_elem.find('div', class_='content_title')

In [ ]:
#just the text from above, no HTML
# Use the parent element to find the first 'anchor' tag and save it as `news_title`
#with .get_text
news_title = slide_elem.find('div', class_='content_title').get_text()
news_title

In [8]:
# Use the parent element to find the paragraph text
news_p = slide_elem.find('div', class_='article_teaser_body').get_text()
news_p

'Engineers have a plan for pushing down on the heat probe, which has been stuck at the Martian surface for a year.'

## 10.3.4 Scrape Mars Data: Featured Image

In [24]:
# tell splinter to visit URL
url = 'https://spaceimages-mars.com'
browser.visit(url)

In [20]:
# Find and click the full image button, located at index [1] (the second button)
full_image_elem = browser.find_by_tag('button')[1]
full_image_elem.click()

In [21]:
# Parse the resulting html with soup
html = browser.html
img_soup = soup(html, 'html.parser')

In [22]:
# Find the relative image url with img tag, class 'fancybox-image' and .get('src')
img_url_rel = img_soup.find('img', class_='fancybox-image').get('src')
img_url_rel

'image/featured/mars1.jpg'

In [23]:
# Use the base URL to create an absolute URL variable with f string
img_url = f'https://spaceimages-mars.com/{img_url_rel}'
img_url

'https://spaceimages-mars.com/image/featured/mars1.jpg'

## 10.3.5 Scrape Mars Data: Mars Facts (Table)

In [33]:
#find the first table ([0]) from this website and read_html into a pandas DataFrame
df = pd.read_html('https://galaxyfacts-mars.com')[0]

#assign columns
df.columns=['description', 'Mars', 'Earth']

#set_index to the descrption inplace
df.set_index('description', inplace=True)
df

                                    Mars            Earth
description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [34]:
#convert dataframe back to html
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [35]:
#end automated session
browser.quit()